fastapi
uvicorn
yt-dlp
python-multipart
requests
aiofiles
pydub
torch==2.5.1+cpu
torchaudio==2.5.1+cpu
soundfile
demucs
openai-whisper
anthropic
--extra-index-url https://download.pytorch.org/whl/cpu
